<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.repository.ProjectRepository">
    <insert id="save" parameterType="com.example.myapp.entity.Project">
        INSERT INTO projects (name, description, start_date, end_date)
        VALUES (#{name}, #{description}, #{startDate}, #{endDate})
    </insert>
</mapper>
